# Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_Rzg8Fxn4AQtW@ep-cool-field-ab3v64e0-pooler.eu-west-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require

# Security
# WARNING: In production, change this to a random long string
BETTER_AUTH_SECRET=fallback_secret_key_for_development

# App Settings
DEBUG=True
PORT=8000

# Email Configuration
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=your_email@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
